%nav.breadcrumb.is-small{"aria-label" => "breadcrumbs"}
  %ul
    %li
      %a{:href => "#"} Home
    %li.is-active
      %a{"aria-current" => "page", :href => "#"} Forms
.level
  .level-left
    .level-item
      .title
        Forms (
        %a{:href => "http://bulma.io/documentation/form/general/"}> read more
        )
  .level-right
    .level-item
      %button.button.is-small{:type => "button"}
        March 8, 2017 - April 6, 2017
.columns.is-multiline
  .column.is-9
    .field.is-horizontal
      .field-label.is-normal
        %label.label From
      .field-body
        .field
          %p.control.is-expanded.has-icons-left
            %input.input{:placeholder => "Name", :type => "text"}/
            %span.icon.is-small.is-left
              %i.fa.fa-user
        .field
          %p.control.is-expanded.has-icons-left.has-icons-right
            %input.input.is-success{:placeholder => "Email", :type => "email", :value => "alex@smith.com"}/
            %span.icon.is-small.is-left
              %i.fa.fa-envelope
            %span.icon.is-small.is-right
              %i.fa.fa-check
    .field.is-horizontal
      .field-label
      .field-body
        .field.is-expanded
          .field.has-addons
            %p.control
              %a.button.is-static
                +44
            %p.control.is-expanded
              %input.input{:placeholder => "Your phone number", :type => "tel"}/
          %p.help Do not enter the first zero
    .field.is-horizontal
      .field-label.is-normal
        %label.label Department
      .field-body
        .field.is-narrow
          .control
            .select.is-fullwidth
              %select
                %option Business development
                %option Marketing
                %option Sales
    .field.is-horizontal
      .field-label
        %label.label Already a member?
      .field-body
        .field.is-narrow
          .control
            %label.radio
              %input{:name => "member", :type => "radio"}/
              Yes
            %label.radio
              %input{:name => "member", :type => "radio"}/
              No
    .field.is-horizontal
      .field-label.is-normal
        %label.label Subject
      .field-body
        .field
          .control
            %input.input.is-danger{:placeholder => "e.g. Partnership opportunity", :type => "text"}/
          %p.help.is-danger
            This field is required
    .field.is-horizontal
      .field-label.is-normal
        %label.label Question
      .field-body
        .field
          .control
            %textarea.textarea{:placeholder => "Explain how we can help you"}
    .field.is-horizontal
      .field-label
        / Left empty for spacing
      .field-body
        .field
          .control
            %button.button.is-primary
              Send message
    -# TODO %script{:src => "/bulma-admin-dashboard-template/dist/build.js"}
